*{
    box-sizing: border-box;
    font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
:root{
    --accent-color:#82a77b;
    --text-color: black;
    --bground-color: #e9ede8;
}
body{
    background-color: #e9ede8;
}
h1, h3, h4{
    margin: 0;
}
h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}
h3{
    font-size: 1.1rem;
    font-style: italic;
}

/* used for the navigation bar at the top */
.sticky{
    position: sticky;
    top: 0px;
    background-color: #e9ede8e1;
}
.nav-container{
    border-bottom: 1px solid #b7e0ae;
    width: 100vw;
    padding: 1rem;
}
nav{
    justify-content: space-between;
    max-width:52rem;
    height: 100%;
    margin: auto;
}
.logo{
    align-items: center;
    justify-content: center;
    border: 1px solid #b7e0ae;
    border-radius: 0.5rem;
    height: 2rem;
    width: 2rem;
    color:#5a964e;
    font-weight: 600;
    font-size: 0.8rem;
}
.nightmode{
    width: 1rem;
    height: 1rem;
}
.nav-list{
    gap:0.5rem;
}
.bolded{
    font-weight: 700;
}
.accented{
    color: var(--accent-color);
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-center{
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.website-structure{
    margin:auto;
    flex-direction: column;
    max-width: 42rem;
    padding: 2.5rem 0rem 2.5rem 0rem;
    border-bottom: 1px solid var(--accent-color);
}
.transition{
    transition: all 0.5s;
}
.hero {
    margin:  auto;
}
.self-portrait {
    height: 15rem;
    border: 5px solid #82a77b;
    border-radius: 1em;
    /* filter: invert(75%) sepia(7%) saturate(1551%) hue-rotate(64deg) brightness(84%) contrast(80%); */
}
.hide{
    opacity: 0;
}
.hero-image{
    /* background-image: url('/me.jpg'); */
    width: 100%;
    border: 1px solid #b7e0ae;
    height: 20rem;

}
.hero-button-container{
    padding-top: 2rem;
    justify-content: space-around;
}
.logo:hover{
    background-color: #c2e6bb;
    transition: 500ms;
}
.logo:active{
    background-color: white;
    transition: 200ms;
}
.hero-button{
    border: 1px solid #b7e0ae;
    border-radius: .5em;
    padding: 0.5rem 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}
.hero-button:hover{
    background-color: #c2e6bb;
    transition: 500ms;
}
.hero-button:active{
    background-color: white;
    transition: 200ms;
}
.section1{
    margin: auto;
}
.section2{
    margin: auto;
}
.project-card{
    flex-direction: column;
    border: 1px solid #b7e0ae;
    border-radius: .5em;
    max-width: 36rem;
}
.project-card-image{
    background-color: #d4e0d0;
    width: 100%;
    height: 13rem;
    border-bottom: 1px solid #b7e0ae;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.project-card-description{
    width: 100%;
    height: 8rem;
    padding: 1rem;
}
.project-card:hover{
    background-color: #c2e6bb;
    transition: 500ms;
}
.project-card:active{
    background-color: white;
    transition: 200ms;
}
.project-card-description h3{
    margin:auto;
}
.coming-soon-card{
    justify-content: center;
    text-align: center;
    border-style: dashed;
    border: 2px dashed #b7e0ae;
    padding: 5rem 0.5rem;
}
.clickable{
    user-select: none;
    cursor: pointer;
}
.box-shadow{
    box-shadow: 3px 3px 6px 0 rgb(0 0 0 / 50%);
}
.tech-container{
    justify-content: space-between;
    color: #82a77b;
    font-weight: bold;
}

@media screen and (max-width: 672px){
    h1{
        font-size: 2.5rem;
    }
    .hero{
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
    .hero-text{
        justify-content: center;
    }
    
    .hero-button-container{
        flex-direction: column;
        gap: 1rem;
    }

    .grid{
        grid-template-columns: 1fr;
    }
    .website-structure{
        max-width: 42rem;
        padding: 2.5rem 1rem 3.5rem 1rem;
        border-bottom: 1px solid #b7e0ae;
    }
    .project-card{
        max-width: 36rem;

    }
}