*{
    box-sizing: border-box;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body{
    background-color: #e9ede8;
}
/* used for the navigation bar at the top */
.sticky{
    position: sticky;
    top: 0px;
    background-color: #e9ede8e1;
}
.nav-container{
    border-bottom: 1px solid #b7e0ae;
    width: 100vw;
    padding: 1rem;
}
nav{
    justify-content: space-between;
    max-width:52rem;
    height: 100%;
    margin: auto;
}
.logo{
    align-items: center;
    justify-content: center;
    border: 1px solid #b7e0ae;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    color:#5a964e;
    font-weight: 500;
}
.nightmode{
    width: 1rem;
    height: 1rem;
}
.nav-list{
    gap:0.5rem;
}
.bolded{
    font-weight: bold;
    color: #82a77b;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.website-structure{
    margin:auto;
    flex-direction: column;
    max-width: 42rem;
    padding: 5rem 0rem 5rem 0rem;
    border-bottom: 1px solid #b7e0ae;
}
.hero {
    margin:  auto;
}
.hero-image{
    width:100%;
    border: 1px solid #b7e0ae;
    height: 20rem;
}
.hero-button-container{
    padding-top: 2rem;
    justify-content: space-between;
}
.hero-button{
    border: 1px solid #b7e0ae;
    border-radius: .5em;
    padding: 0.5rem 5rem;
    text-align: center;
}
.hero-button:hover{
    background-color: #c2e6bb;
    transition: 500ms;
}
.hero-button:active{
    background-color: white;
    transition: 200ms;
}
.section1{
    margin: auto;
}
.section2{
    margin: auto;
}
.project-card{
    flex-direction: column;
    border: 1px solid #b7e0ae;
    border-radius: .5em;
    max-width: 36rem;
}
.project-card-image{
    background-color: #d4e0d0;
    width: 100%;
    height: 13rem;
    border-bottom: 1px solid #b7e0ae;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.project-card-description{
    width: 100%;
    height: 8rem;
    padding: 1rem;
    
}
.project-card:hover{
    background-color: #c2e6bb;
    transition: 500ms;
}
.project-card:active{
    background-color: white;
    transition: 200ms;
}
.project-card-description h3{
    margin:auto;
}
.social-container{
    justify-content: center;
}
.clickable{
    user-select: none;
    cursor: pointer;
}
.box-shadow{
    box-shadow: 3px 3px 6px 0 rgb(0 0 0 / 50%);
}
.tech-container{
    justify-content: space-between;
    color: #82a77b;
    font-weight: bold;
}

@media screen and (max-width: 672px){
    .hero-button-container{
        flex-direction: column;
        gap: 1rem;
    }

    .grid{
        grid-template-columns: 1fr;
    }
    .website-structure{
        max-width: 42rem;
        padding: 5rem 1rem 10rem 1rem;
        border-bottom: 1px solid #b7e0ae;
    }
    .project-card{
        max-width: 36rem;

    }
}