*{
    box-sizing: border-box;
    font-family: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
:root{
    --navbar-icon-color: #4B5463;
    --accent-color:#FF3B3F;
    --text-color: #374151;
    --heading-color: #4B5463;
    --bground-color: white;
    --nav-bground-color:#ffffffe1;
    --hover-background: #e7e7e7;
    --border-color: #D6D9DF;
    --image-background-color: #f6f6f6;
}
.light{
    --navbar-icon-color: #4B5463;
    --accent-color:#FF3B3F;
    --text-color: #374151;
    --heading-color: #4B5463;
    --bground-color: white;
    --nav-bground-color:#ffffffe1;
    --hover-background: #e7e7e7;
    --border-color: #D6D9DF;
    --image-background-color: #f6f6f6;
}
.dark{
    --bground-color: #18181B;
    --nav-bground-color: #18181Be1;
    --hover-background:#1f1f29;
    --text-color:#9ca3af;
    --heading-color: white;
    --navbar-icon-color:#9ca3af;
    --border-color: #9ca3af25;
    --image-background-color: #131319;
}
body{
    background-color: var(--bground-color);
    color: var(--text-color);
}

h1, h2, h3, h4{
    margin: 0;
    color: var(--heading-color);
}
h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
}
h3{
    font-size: 1.1rem;
    font-style: italic;
}
p{
    line-height: 1.5rem;
}

/* used for the navigation bar at the top */
.sticky{
    position: sticky;
    top: 0px;
}
.nav-container{
    background-color: var(--nav-bground-color);
    border-bottom: 1px solid var(--border-color);
    width: 100vw;
    padding: 1rem;
}
nav{
    justify-content: space-between;
    max-width:52rem;
    height: 100%;
    margin: auto;
}
.logo{
    align-items: center;
    justify-content: center;
    background-color: var(--image-background-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    height: 2rem;
    width: 2rem;
    color:var(--accent-color);
    font-weight: 600;
    font-size: 0.8rem;
}
.nightmode{
    width: 1rem;
    height: 1rem;
}
.nav-list{
    gap:0.5rem;
}
.bolded{
    font-weight: 700;
}
.accented{
    color: var(--accent-color);
}
.flex{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-center{
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}
.website-structure{
    margin:auto;
    flex-direction: column;
    max-width: 42rem;
    padding: 2.5rem 0rem 2.5rem 0rem;
    border-bottom: 1px solid var(--border-color);
}
.transition{
    transition: all 0.5s;
}
.hero {
    margin:  auto;
}
.self-portrait {
    height: 15rem;
    border: 2px solid var(--border-color);
    border-radius: 1em;
    background-color: var(--image-background-color);
}
.hide{
    opacity: 0;
}

.hero-button-container{
    padding-top: 2rem;
    justify-content: space-around;

}
.logo:hover{
    background-color: var(--hover-background);
    transition: 500ms;
}
.logo:active{
    background-color: white;
    transition: 200ms;
}
.hero-button{
    border: 1px solid var(--border-color);
    border-radius: .5em;
    padding: 0.5rem 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--image-background-color)
}
.hero-button:hover{
    background-color: var(--hover-background);
    transition: 500ms;
}
.hero-button:active{
    background-color: white;

    transition: 200ms;
}


.section1{
    margin: auto;
}
.section2{
    margin: auto;
    gap: 1rem;
}
.section-title{
    gap: 0.5rem;
    align-items: center;
    
}
.project-card{
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: .5em;
    max-width: 36rem;
}
.project-card-image{
    background-color: var(--image-background-color);
    width: 100%;
    height: 13rem;
    border-bottom: 1px solid var(--border-color);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.project-card-description{
    width: 100%;
    height: 8rem;
    padding: 1rem;
}
.project-card:hover{
    background-color: var(--hover-background);
    transition: 500ms;
}
.project-card:active{
    background-color: white;
    transition: 200ms;
}
.project-card-description h3{
    margin:auto;
}
.coming-soon-card{
    height: 21rem;
    justify-content: center;
    text-align: center;
    border-style: dashed;
    border: 2px dashed var(--border-color);
    padding: 1rem 0.5rem;
    border-radius: .5em;
    max-width: 36rem;
}
.clickable{
    user-select: none;
    cursor: pointer;
}
.box-shadow{
    box-shadow: 3px 3px 6px 0 rgb(0 0 0 / 50%);
}

footer{
    color:rgb(150, 149, 149);
    text-align: center;
    padding: 1rem 0;
}

@media screen and (max-width: 672px){
    h1{
        font-size: 2.5rem;
    }
    .hero{
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
    }
    .hero-text{
        justify-content: center;
    }
    
    .hero-button-container{
        flex-direction: column;
        gap: 1rem;
    }

    .grid{
        grid-template-columns: 1fr;
    }
    .website-structure{
        max-width: 42rem;
        padding: 2.5rem 1rem 3.5rem 1rem;
        border-bottom: 1px solid var(--border-color);
    }
    .project-card{
        max-width: 36rem;

    }
    .section-title{
        flex-direction: column;
    }
}